<!DOCTYPE html>
<html>
<body style="background-color: #90EE90;">
<h1>Welcome to WIDS 2021!</h1>

<button onclick="myFunction()">Welcome</button>

<p id="demo"></p>

<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "Welcome to WIDS 2021!";
}
</script>

</body>
</html>
